/* RESET */
* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    border: none;
    outline: none;
    font-weight: 300;
    box-sizing: border-box;
    font-family: 'Lexend Mega', sans-serif;
}

body {
    background-color: #f5f5f5;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

/* RESET */

.corpo {
    display: flex;
    flex-direction: column;
    background-image: url(img/foto-portaria.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    color: white;
    position: relative;
    z-index: 0;
}

.corpo::after {
    content: '';
    background-color: rgb(10, 23, 49);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0.8;
    z-index: -1;
}

.padrao {
    background-color: #283688;
    opacity: 0.8;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

.menu .logo img {
    width: 85%;
}

.menu h1 {
    color: #f5f5f5;
    font-size: 3rem;
    margin-bottom: 0;
    font-weight: 600;
}

.menu h2 {
    color: #f5f5f5;
    font-size: 2rem;
    font-weight: 600;
    margin-top: 2%;
    text-align: center;
}

.info {
    text-align: center;
    margin-left: 5%;
}

.servicos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    margin-left: 10%;
}

.servicos img {
    width: 70px;
}

.serv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 5px solid #5CACD1;
    border-radius: 30%;
    text-align: center;
    padding: 20px;
    color: #283688;
    background-color: #f5f5f5;
    min-width: 20vh;
    min-height: 20vh;
    max-width: 20vh;
    max-height: 20vh;
    margin: 40px;
}

.servicos a {
    color: #283688;
    min-width: 130%;
    border-radius: 30%;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 25vh;
    font-size: 1.2rem;
    color: #f5f5f5;
    line-height: 2;
    overflow: hidden;
}

.footer h2 {
    margin-top: 1%;
}

.footer h6 {
    font-size: 1rem;
}

.footer a {
    color: #f5f5f5;
}

.logo-footer {
    display: flex;
    width: 150%;
    background-color: rebeccapurple;
    justify-content: space-around;
    overflow: hidden;
}

.logo-link {
    position: absolute;
    left: 55px;
    bottom: 10px;
}

.loc {
    position: absolute;
    right: 55px;
    bottom: 10px;
}

.logo-link, .loc img {
    width: 55px;
}

.github {
    color: #f5f5f5;
    text-decoration: none;
    font-size: 1rem;
    margin-bottom: 1%;
}

.github:hover {
    color: aqua;
}

/* pop up container*/
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* o pop up */
.popup .popuptext {
    visibility: hidden;
    position: absolute;
    border: 5px solid #5CACD1;
    border-radius: 30%;
    color: #283688;
    background-color: #f5f5f5;
    min-width: 20vh;
    min-height: 20vh;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: -17vh;
    margin-left: -9.8vh;
}

/* setinha pop up */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #283688 transparent transparent transparent;
}

/* animação de transição */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}